@model WebPulse_WebManager.Models.Credential;

@{

}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="form-group">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Title) })
            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "invalid-feedback" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="form-group">
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Description) })
            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "invalid-feedback" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="form-group">
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Username) })
            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "invalid-feedback" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="form-group">
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password), type = "Password"})
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "invalid-feedback" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xs-12">
        @Html.DropDownListFor(m => m.WebsiteId, ViewData["WebsiteId"] as SelectList, new { @class = "form-control" })
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>

