@model IEnumerable<Credential>

@{

}

<div class="card">
    <div class="table-responsive">
        <table class="table table-hover align-items-center mb-0">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Website</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr title="@(item.Valid? item.Description : "Invalid Credential")" class="@(item.Valid? "" : "table-danger")">
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            <span class="password-span" style="unicode-bidi:bidi-override; direction: rtl;" title="Click to copy">
                                @item.Password.Invert()
                            </span>
                        </td>
                        <td>
                            @Html.ActionLink(item.Website.Name, "Details", "Websites", new { id = item.Website.Id }, null)
                        </td>
                        <td class="text-center">
                            @if(item.Valid)
                            {
                                <a asp-action="Validity" asp-controller="Credentials" asp-route-id="@item.Id" class="btn btn-icon btn-warning mb-0" title="Mark Invalid">
                                    <span class="btn-inner--icon mb-0">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-lg" viewBox="0 0 16 16">
                                            <path d="M7.005 3.1a1 1 0 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0zM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0" />
                                        </svg>
                                    </span>
                                </a>
                            }
                            <a asp-action="Edit" asp-controller="Credentials" asp-route-id="@item.Id" class="btn btn-icon @(item.Valid? "btn-info" : "btn-warning") btn-info mb-0" title="Edit">
                                <span class="btn-inner--icon mb-0"><i class="ni ni-ruler-pencil"></i></span>
                            </a>
                            <a asp-action="Delete" asp-controller="Credentials" asp-route-id="@item.Id" class="btn btn-icon btn-danger mb-0" title="Delete"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512" fill="white"><path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z" /></svg></a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
