@model CredentialsIndexViewModel;

@{
    Layout = "_Dashboard";
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<style>
    .password-span {
        filter: blur(5px); /* Adjust the blur radius as needed */
    }
</style>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Username
            </th>
            <th>
                Password
            </th>
            <th>
                Website
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Credentials)
        {
            <tr title="@item.Description">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    <span class="password-span" style="unicode-bidi:bidi-override; direction: rtl;" title="Click to copy">
                        @item.Password.Invert()
                    </span>

                </td>
                <td>
                    @Html.ActionLink(item.Website.Name, "Details", "Websites", new { id = item.Website.Id }, null)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get all password spans
        var passwordSpans = document.querySelectorAll('.password-span');

        // Attach a click event listener to each password span
        passwordSpans.forEach(function (span) {
            span.addEventListener('click', function () {
                // Create a textarea element to store the inverted password temporarily
                var textarea = document.createElement('textarea');

                // Invert the password text and set it as the textarea value
                textarea.value = invertText(span.textContent);

                // Append the textarea to the body
                document.body.appendChild(textarea);

                // Select the text in the textarea
                textarea.select();
                document.execCommand('copy');

                // Remove the textarea from the DOM
                document.body.removeChild(textarea);

                // Optionally, provide some visual feedback to the user
                alert('Password copied to clipboard');
            });
        });

        // Function to invert text
        function invertText(text) {
            return text.split('').reverse().join('');
        }
    });
</script>

